<div class=""
    style="width: 100%; margin-left: 0px;   border-radius: 10px; margin-top: 10px;">

    <div class="" style="width: 70%; margin-bottom: 20px;">
        <label style="margin: 10px;" class="label">Descripción </label>
        <br>
        <input  style="width: 70%; margin: 10px;"  id="nombresInputSimu" class="input1" name="nombresInputSimu"
            minlength="8" required pattern="[A-Za-zÀ-ÿ\s]+"  matTooltip="nombres"
            matTooltipPosition="left" />

    </div>
    <div class="" style="width: 70%; margin-bottom: 20px;">
        <label style="margin: 10px;" class="label">Sub Category </label>
        <br>
        <input  style="width: 70%; margin: 10px;"  id="nombresInputSimu" class="input1" name="nombresInputSimu"
            minlength="8" required pattern="[A-Za-zÀ-ÿ\s]+"  matTooltip="nombres"
            matTooltipPosition="left" />

    </div>
    <div style="height: 15%; align-items: center;"class="d-flex justify-content-around align-items-center">
        <button style="margin: 15px;"  >
            Crear Categoria
        </button>
    </div>

</div>
